<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css" />
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Welcome to My Website</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/users">Useres</a>
            <a href="/course">Anime</a>
            <a href="/users/adduser">Add User</a>
            <a href="/course/addcourse">Add Anime </a>
        </nav>
    </header>
    <h2> Welcome to the world of anime </h2>
    <p  class="center">write here to add anime information</p>
    <form action="/course/addcourse" method="POST" class="center">
        <input type="text" name="addanime" placeholder="add anime">
        <button type="submit">Add Anime</button>
    </form>
</body>
</html>