<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css" />
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Anime Ki Duniya</h1>
        <nav>
            <a href="#">Home</a>
            <a href="#">Courses</a>
            <a href="#">About</a>   
            <a href="#">Contact</a>
        </nav>
    </header>
    <h2>list of anime</h2>
    <p>Here is the List of anime</p>
</body>
</html>